*{
  padding: 0px;
  margin: 0px;
}
body{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(45deg, #ffecd2, #9fdffc, #449bff);
}
.main{
  width: 860px;
  height: 540px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(25px);
  border-radius: 35px;
  box-shadow: 0 0 7px gray;
}
.text{
  height: 35%;
  width: 100%;
}
.haldia-institute-of{
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: 600;
  color: #000000;
  font-family: "Petrona-SemiBold", Helvetica;
  padding-top: 50px;
}
.central-lab{
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
  color: #2c2c2c;
  font-family: "Petrona-SemiBold", Helvetica;
}
.buttn{
  height: 65%;
  width: 100%;
}
.student{
  height: 45%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.student button{
  height: 90px;
  width: 419px;
  font-size: 40px;
  color: #ffffff;
  background-color: #c242fe;
  font-family: "Petrona-SemiBold", Helvetica;
  font-weight: 600;
  border-color: #c242fe;
  cursor: pointer;
  border-radius: 98px;
  box-shadow: 10px 10px 30px #aeaec066, -10px -10px 30px #ffffff;
}
.student button:hover{
  box-shadow: 2px 5px 7px rgb(128, 47, 162);
}
.admin{
  height: 45%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin button{
  height: 90px;
  width: 419px;
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;
  background-color: #426bfe;
  font-family: "Petrona-SemiBold", Helvetica;
  border-color: #426bfe;
  cursor: pointer;
  border-radius: 98px;
  box-shadow: 10px 10px 30px #aeaec066, -10px -10px 30px #ffffff;
}
.admin button:hover{
  box-shadow: 2px 5px 7px rgb(79, 79, 255);
}
