.macbook-air {
    background: linear-gradient(45deg, #ffecd2, #9fdffc, #449bff);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .macbook-air .overlap-group-wrapper {
    width: 1280px;
    height: 832px;
  }
  
  .macbook-air .overlap-group {
    position: relative;
    width: 1134px;
    height: 577px;
    top: 127px;
    left: 73px;
  }
  
  .macbook-air .rectangle {
    position: absolute;
    width: 953px;
    height: 577px;
    top: 0;
    left: 91px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(25px);
    border-radius: 35px;
    box-shadow: 0 0 10px gray;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); */
  }
  /* .rectangle:hover{
    width: 1200px;
    height: 777px;
  } */
  .macbook-air .haldia-institute-of {
    position: absolute;
    width: 989px;
    top: 53px;
    left: 73px;
    font-family: "Petrona-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 60px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-air .central-lab {
    position: absolute;
    width: 1134px;
    top: 131px;
    left: 0;
    font-family: "Petrona-SemiBold", Helvetica;
    font-weight: 600;
    color: #2c2c2c;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-air .div {
    position: absolute;
    width: 419px;
    height: 95px;
    top: 231px;
    left: 358px;
    background-color: #0066ff;
    border-radius: 98px;
    box-shadow: 10px 10px 30px #aeaec066, -10px -10px 30px #ffffff;
  }
  .div,.rectangle-2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px ;
    color: white;
    font-weight: 600;
  }
  .div:hover{
    box-shadow: 2px 5px 7px rgb(79, 79, 255);
  }
  .macbook-air .rectangle-2 {
    position: absolute;
    width: 419px;
    height: 95px;
    top: 381px;
    left: 358px;
    background-color: #c242fe;
    /* background: transparent;
    backdrop-filter: blur(15px); */
    border-radius: 98px;
    box-shadow: 10px 10px 30px #aeaec066, -10px -10px 30px #ffffff;
  }
  .rectangle-2:hover{
    box-shadow: 2px 5px 7px rgb(128, 47, 162);
  }
  .macbook-air .text-wrapper {
    position: absolute;
    width: 989px;
    top: 255px;
    left: 73px;
    font-family: "Petrona-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-air .text-wrapper-2 {
    position: absolute;
    width: 989px;
    top: 405px;
    left: 73px;
    font-family: "Petrona-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  