@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg , #ffecd2, #9fdffc, #449bff);
}
.main{
    height: 713px;
    width: 425px;
    padding: 40px;
    padding: 30px 0px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(25px);
    box-shadow: 0 0 10px gray;
    background-color: #FAF8FD;
    box-shadow: 1.5px 2px 5px rgb(185, 185, 185);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.head{
    height: auto;
    width: auto;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 40px;
}
.main label{
    font-size: 20px;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 20px;
   
}
.name input,.roll input,.pcnumber input,.buttom input{
    margin-top: 10px;
    height: 40px;
    width: 95%;
    cursor: pointer;
    font-size: 15px;
    padding: 15px 15px;
    border-radius: 22px;
    border: none;
    box-shadow: 1px 2px 5px rgb(221, 221, 221);
    
}
.buttom{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.buttom button{
    height: 45px;
    width: 80%;
    margin-top: 25px;
    font-size: 22px;
    font-weight: 600;
    background-color: rgb(124, 1, 255);
    border-radius: 55px;
    color: white;
    box-shadow: 1px 2px 5px rgb(221, 221, 221);
}
.tell{
    height: 45px;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}